<!-- Footer starts here -->
<footer class="py-5 mt-4">
    <div class="container">
        <p class="m-0 text-center">
            Copyright &copy; Anup Rai 2022
        </p>
    </div>
  </footer>

<!-- Footer ends here -->