<div class="container py-3">
  <h1><%= title %> page</h1>

  <div class="card mt-5" style="width: 20rem; height: 20rem;">
    <img class="card-img-top" src="/images/radiohead.jpg" alt="radiohead">
    <div class="card-body">
      <h5 class="card-title">Radiohead</h5>
    </div>
  </div>
</div>
